<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap" rel="stylesheet">
  <title>World Recipes</title>
</head>
<body>
  <h1>Explore Recipes by Country</h1>
  <form action="/" method="POST">
    <input type="text" name="country" placeholder="e.g., French, Chinese" required>
    <button type="submit">Search</button>
  </form>

  <br><br>
  <a href="/favorites">View My Favorite Recipes</a>
</body>
</html>